<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ================= PERMISSÕES ================= -->

    <!-- Tela cheia -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <!-- Notificações (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Vibração -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- WakeLock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <!-- Alarmes exatos -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <!-- Reiniciar alarmes após reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 🔥 PERMISSÕES PARA SOM UPLOAD -->
    
    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- Android 12 ou inferior -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ================================================= -->

    <application
        android:allowBackup="true"
        android:label="ZenSleep"
        android:theme="@style/Theme.ZenSleep"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- MAIN -->
            <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ZenSleep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CONFIGURAR DESPERTADOR -->
        <activity
            android:name=".AlarmConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- TELA DO ALARME -->
        <activity
            android:name=".AlarmRingingActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZenSleep"/>

        <!-- SERVIÇO DO ALARME -->
        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

        <!-- RECEIVER QUE DISPARA O ALARME -->
        <receiver
            android:name=".AlarmReceiver"
            android:exported="false"/>

        <!-- RECEIVER PARA REBOOT -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <!-- Política -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"/>

        <meta-data
    android:name="com.google.android.gms.ads.APPLICATION_ID"
    android:value="ca-app-pub-8296610548842772~8821134340"/>

    </application>

</manifest>
