<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Full screen alarm -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <!-- Android 13+ notificações -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Vibrar -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- WakeLock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Android 14+ obrigatório para áudio -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application
        android:allowBackup="true"
        android:label="ZenSleep"
        android:theme="@style/Theme.ZenSleep"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- 🔥 NOVA TELA: CONFIGURAR DESPERTADOR -->
        <activity
            android:name=".AlarmConfigActivity"
            android:exported="false"
            android:label="Configurar Despertador"
            android:screenOrientation="portrait"/>

        <!-- Tela que aparece quando o timer dispara -->
        <activity
            android:name=".AlarmRingingActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="Alarme"
            android:screenOrientation="portrait"/>

        <!-- Serviço que toca o alarme -->
        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

        <!-- Política -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:label="Política de Privacidade"/>

    </application>

</manifest>
