<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🔥 Alarmes exatos Android 12+ -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <!-- 🔥 Full screen alarm -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <!-- 🔥 Android 13+ Notificações -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 🔥 Vibrar -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 🔥 Manter CPU ativa -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 🔥 OBRIGATÓRIA PARA FOREGROUND SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:label="ZenSleep"
        android:theme="@style/Theme.ZenSleep"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:label="Despertador" />

        <activity
            android:name=".AlarmRingingActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:label="Alarme"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />

        <!-- 🔥 SERVICE CORRETO -->
        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:label="Política de Privacidade" />

    </application>

</manifest>
